.texte-liens{
    font-size: 50px;
    margin-top: 180px;
    margin-left: 70px;
}

a{
    color: black;
}

.titre-page-base{
    font-size: 80px;
    color: black;
    background: rgb(204, 167, 120, 50%);
    
}
    
body{
    background-image: url("../img/ecran.jpg");
}
